*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
   
}
nav{
    width: 100%;
    height: 7vw;
    background: linear-gradient(125deg,#31052b,#9c1079);
}
.nav-container{
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:5vw ;
    object-fit: contain;
}
.nav-profile{
    display: flex;
    align-items: center;
}
.nav-profile-name{
    color: #fff;
    font-size: 1.2vw;
    margin-right: 12px;
}
.fa-cart-shopping{
    font-size: 3vw;
    color:#fff;
}
.nav-profile-cart{
    position: relative;
}
.cartcount{
    position: absolute;
    top: -16px;
    right: -6px;
    width: 35px;
    height: 35px;
    background: rgb(126, 156, 43);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
}
.sidebar{
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.product{
    width: 80%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.sidebar-search{
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
    font-size: 1.2vw;
    outline: none;
    border-radius: 8px;
    background: #f2f2f2;;
    transition: 0.3s;
    margin-bottom: 20px;
}
.sidebar-search:focus{
    border: 2px solid #e61b36;
}
.sidebar-items{
    background: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    color: #000;
    transition: 0.4s;
    font-size: 1.1vw;
}
.sidebar-items:hover{
    background: #e61b36;
    color: #fff;
}
.product-items{
    cursor: pointer;
    transition: 0.4s;
}
.product-items:hover{
    transform: scale(1.1);
}
.product-img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 10px;
}
.modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items:center ;
}
.modal-page{
    min-width: 30vw;
    max-width: 60vw;
    max-height: 90vw;
    overflow: scroll;
    background:#fff;
    border-radius: 16px;
    padding: 20px;
}
.modal-content{
    width: 100%;

    display: flex;

}
.modal-detail{
    margin-left: 20px ;
}
.modalesc-img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 13px;
}
.btn-control{
    display: flex;
    justify-content: flex-end;
    top: 15px;
}
.btn{
    padding:10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: 0.4s;
}
.btn-buy{
    background: linear-gradient(125deg,#e61b36,#9c1032);
    color: #fff;
    margin: left 20px;
}
.cartlist{
}
.cartlist-items{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cartlist-left{
    display: flex;
    
}
.cartlist-right{
    display: flex;
    align-items: center;
}
.cartlist-left img{
    width: 5vw;
    height: 5vw;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 5px;
}
.btnc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid#000;
    cursor: pointer;
}